<!--Content Starts Here-->
<link rel="stylesheet" type="text/css" href="./stylesheets/reset.css">
<link rel="stylesheet" type="text/css" href="./stylesheets/kiosk.css">
<!--Sorry I had to use it I tried padding and margin and it would distort my background :( -->

<br><br>
<a class="btn btn-primary backButton" href="../index" role="button">Back</a>
<br><br>
<!--Reimburesment form-->
<div class="container-fluid kioskback">
    <div class="row text-center">
        <div class="col-12">
            <h1 class="header">Kiosk Dashboard</h1>
            <hr class="paymline">
        </div>
    </div>
    <!--Pending Requests-->
    <div class="row text-center">
        <div class="col-sm-12 col-md-12">
            <h2 class="reqheader">Pending Requests</h2>
            <div class="requests">
                    <div class="form-check">
                        {{#each transactions}}
                        {{#unless this.approved}}
                        <ul>
                            <li>
                                <label class="form-check-label" for="defaultCheck1">
                                User: {{UserId}}</li>
                            <li>Voucher ID: {{voucherNum}}</li>
                            <li>Amount Requested: {{amount}}</li>
                            <li>Date Created: {{createdAt}}</li>
                        </ul>
                         <form>
                            <div class="form-group">
                                <label for="denialReason"></label>
                                <input type="text" class="form-control" id="denialReason" aria-describedby="Help"
                                    placeholder="Enter reason if request denied">
                            </div>
                            <div class="button-div">
                                <button class="btn btn-primary" data-id="{{id}}" id= "approve" type="submit">Approve</button>
                                <button class="btn btn-primary" id ="deny" type="submit">Deny</button>
                            </div>
                        </form>
                        <hr class="reqline">
                        {{/unless}}
                        {{/each}}
                    </div>
               
        </div>
        <hr class="reqline">
        <!--Approved Requests-->
        <div class="col-sm-12 col-md-12">
            <h2 class="reqheader">Approved Requests</h2>
            <div class="approvals form-check">
                        {{#each transactions}}
                        {{#if this.approved}}
                        <ul>
                            <li>
                                <label class="form-check-label" for="defaultCheck1">
                                User: {{UserId}}</li>
                            <li>Voucher ID: {{voucherNum}}</li>
                            <li>Amount Requested: {{amount}}</li>
                            <li>Date Approved: {{updatedAt}}</li>
                        </ul>
                        <hr class="reqline">
                        {{/if}}
                        {{/each}}
            </div>
        </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type='text/javascript' src='js/kiosk.js'></script>